:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

/* Applying poppins font to html */
html {
  font-family: "Poppins", sans-serif;
  background-color: #e4ebf5;
}

* {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

.title {
  font-family: "Cinzel Decorative", cursive;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}

/*  BUTTONS  */
.btn {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 9999rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  transition: all 0.35s ease-in-out;
  text-decoration: none;
}
.btn__primary {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: center;
  margin-top: 2rem;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
    inset -0.2rem -0.2rem 1rem var(--primary-dark),
    0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
    inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.btn__secondary {
  grid-column: 1/2;
  grid-row: 5/6;
  color: var(--greyDark);
  position: absolute;
  right: 1rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.btn__secondary:hover {
  color: var(--primary);
}
.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}
.btn p {
  font-size: 1.6rem;
}
.ext-link {
  width: 1rem;
  margin-left: 0.2rem;
}

/* Main */
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.div1 {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.div2 {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  padding: 1rem;
}

.div1 img {
  max-width: 90%;
  border-radius: 1%;
}

/*  FORM  */
.form {
  grid-column: 3/4;
  grid-row: 3/4;
}
.form__input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
.form__input::-moz-placeholder {
  color: var(--greyLight-3);
}
.form__input:-ms-input-placeholder {
  color: var(--greyLight-3);
}
.form__input::placeholder {
  color: var(--greyLight-3);
}
.form__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.span1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  font-weight: 500;
}

.span2 {
  align-items: initial;
}

/*  CHECKBOX  */
.checkbox__1 {
  display: flex;
  justify-content: center;
}
.checkbox__1 input {
  display: none;
}
.checkbox__1 label {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.checkbox__1 label:hover svg {
  color: var(--primary);
}
.checkbox__1 label svg {
  width: 75%;
  color: var(--greyDark);
  transition: 0.3s ease;
}
.checkbox__1 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}
.checkbox__1 input:checked ~ label svg {
  color: var(--primary);
}

/*  RADIO  */
.radio {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
}
.radio input {
  display: none;
}
.radio__1,
.radio__2,
.radio__3,
.radio__4 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.radio__1 input:checked ~ label,
.radio__2 input:checked ~ label,
.radio__3 input:checked ~ label,
.radio__4 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}
.radio__1 input:checked ~ label::after,
.radio__2 input:checked ~ label::after,
.radio__3 input:checked ~ label::after,
.radio__4 input:checked ~ label::after {
  background: var(--primary);
}
.radio__1 label,
.radio__2 label,
.radio__3 label,
.radio__4 label {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.radio__1 label:hover::after,
.radio__2 label:hover::after,
.radio__3 label:hover::after,
.radio__4 label:hover::after {
  background: var(--primary);
}
.radio__1 label::after,
.radio__2 label::after,
.radio__3 label::after,
.radio__4 label::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: var(--greyDark);
  border-radius: 50%;
  transition: 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .navbar {
    justify-content: left;
  }
  .parent {
    flex-direction: column;
  }
}
